## Scrapping data with python

In [1]:
from bs4 import BeautifulSoup
import requests

SCRAPPING DATA WITH BEAUTIFUL SOUP

In [2]:
url_to_scrap = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url_to_scrap)
plane_text= source.text
soup = BeautifulSoup(plane_text)

soup_table = soup.find('table',{'class':'wikitable sortable'})
soup_data = soup_table.find_all('tr')
data1=[]
for a in soup_data:
    cols = a. find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data1.append([ele for ele in cols if ele])
data1

data2 = data1[1:]

MAKING PANDAS DATAFRAME WITH DATA COLLECTED

In [3]:
import numpy as np
import pandas as pd 
df = pd.DataFrame(columns=['Postcode', 'Borough','Neighbourhood'], data=data2)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### cells with  Not assigned borough

In [4]:
df = df[df.Borough != 'Not assigned']
df.shape

(211, 3)

### combining two rows in order to remove duplicate values

In [5]:
df= df.groupby('Postcode').agg({'Borough':'first','Neighbourhood':', '.join}).reset_index()
df.head(18)

   Postcode                                      Neighbourhood      Borough
0       M1B                                     Rouge, Malvern  Scarborough
1       M1C             Highland Creek, Rouge Hill, Port Union  Scarborough
2       M1E                  Guildwood, Morningside, West Hill  Scarborough
3       M1G                                             Woburn  Scarborough
4       M1H                                          Cedarbrae  Scarborough
5       M1J                                Scarborough Village  Scarborough
6       M1K        East Birchmount Park, Ionview, Kennedy Park  Scarborough
7       M1L                    Clairlea, Golden Mile, Oakridge  Scarborough
8       M1M    Cliffcrest, Cliffside, Scarborough Village West  Scarborough
9       M1N                        Birch Cliff, Cliffside West  Scarborough
10      M1P  Dorset Park, Scarborough Town Centre, Wexford ...  Scarborough
11      M1R                                  Maryvale, Wexford  Scarborough
12      M1S                                          Agincourt  Scarborough
13      M1T            Clarks Corners, Sullivan, Tam O'Shanter  Scarborough
14      M1V  Agincourt North, L'Amoreaux East, Milliken, St...  Scarborough
15      M1W                                    L'Amoreaux West  Scarborough
16      M1X                                        Upper Rouge  Scarborough
17      M2H                                  Hillcrest Village   North York

###  replacing  'Not assigned'  values from Neighborhood

In [6]:
# changing the value of Not assigned to borouth values
df.loc[df.Neighbourhood =='Not assigned'] = df.Borough

### shape of the dataframe

In [7]:
df.shape

(103, 3)

In [8]:
df1 = pd.read_csv("/media/bhaskar/New Volume/assignments/IBM/Geospatial_Coordinates.csv",header='infer')
#df1["Postal Code"].equals(df['Postcode']) '''for checking the values'''
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
df1["Postal Code"].equals(df['Postcode'])

False

In [10]:
df2 = pd.merge(df,df1,left_on='Postcode',right_on='Postal Code')
print(df2.shape)

(102, 6)

In [11]:
df2.drop(['Postal Code'],axis=1,inplace= True)
df2.head()

,Postcode,Neighbourhood,Borough,Latitude,Longitude
0,M1B,"Rouge, Malvern",Scarborough,43.806686,-79.194353
1,M1C,"Highland Creek, Rouge Hill, Port Union",Scarborough,43.784535,-79.160497
2,M1E,"Guildwood, Morningside, West Hill",Scarborough,43.763573,-79.188711
3,M1G,Woburn,Scarborough,43.770992,-79.216917
4,M1H,Cedarbrae,Scarborough,43.773136,-79.239476

In [12]:

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans
import folium # map rendering library

print('Libraries imported.')

Libraries imported.